#bigbox {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

#middlebox {
	width: 500px;
	height: 190px;
	background-color: #bdd0ef;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding-top: 15px;
}

#smallbox {
	width: 450px;
	height: 175px;
	background-color: #3c619b;
	margin-left: auto;
	margin-right: auto;
}

#time {
	
	font-size: 150px;
	margin-left: 45px;
	animation-name: change;
	animation-duration: 20s;
}

@keyframes change {
	0% {
		color: white;
	}
	25% {
		color: #bdd0ef;
	}
	75% {
		color: white;
	}
}